.newTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: calc(0px - 3.5rem - 6px);

}


.newTask input[type="newTask"]{
  height: 54px;
  width: 100%;
  color: var(--gray-100);
  background: var(--gray-500);
  border-radius: 8px;
  border: 0;
  padding: 1rem;
 
}



.newTask input[type="newTask"]:focus {
  border: 1px solid var(--purple-dark);
}

.newTask input[type="newTask"]::placeholder {
  color: var(--gray-300)
}

.newTask button{
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 0.950rem;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 8px;
  transition: background-color 1s;
}




.newTask button:hover{
  background: var(--blue)
}

.newTask button:disabled{
  opacity: 0.8;
  cursor: auto;
}

.newTask button:disabled:hover{
  background: var(--blue-dark);
}

.listToTaks {
  margin-top: 1.5rem;
}